.container {
    max-width: $grid-max-width;
    margin: 0 auto;
}

.container,
.container-fluid {
    padding: 0 $grid-gutter;
}

.row {
    display: flex;
    box-sizing: border-box;
    list-style: none;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -$grid-gutter;

    &.row--gutterless {
        margin-left: 0;
    }

    &.row--reverse {
        flex-direction: row-reverse;
    }

    &.row--demo {
        margin-bottom: $grid-gutter;
        height: 100px;
    
        p {
            background: red;
            text-align: center;
        }
    }

    [class*="large-"],
    [class*="medium-"],
    [class*="small-"],
    [class*="micro-"] {
        max-width: 100%;
        box-sizing: border-box;
        padding-left: $grid-gutter;

        .gutterless & {
            padding-left: 0;
        }

        &.reverse {
            flex-direction: column-reverse;
        }

        &.align-bottom {
            align-self: flex-end;
        }

        &.align-top {
            align-self: flex-start;
        }

        &.align-center {
            align-self: center;
        }

        &.align-baseline {
            align-self: baseline;
        }

        &.align-stretch {
            align-self: stretch;
        }
    }
}
