// Gris Settings
$grid-gutter:               20px !default;
$grid-max-width:            1200px + ($grid-gutter * 2) !default;
$grid-columns:              12 !default;

$breakpoint-small:          540px !default;
$breakpoint-medium:         720px !default;
$breakpoint-large:          1080px !default;


